[submodule "bare-server-node"]
	path = bare-server-node
	url = https://github.com/tomphttp/bare-server-node
[submodule "theatre"]
	path = theatre
	url = https://git.holy.how/holy/theatre
[submodule "website-fork-aio"]
	path = website
	url = https://git.holy.how/holy/website-fork-aio.git
[submodule "rammerhead-fork-aio"]
	path = rammerhead
	url = https://github.com/e9x/rammerhead-fork-aio.git
